node_modules
dist
out
coverage
.turbo
.npm
.npm-pack
.DS_Store
.aruna
target
digest.txt
.env
.pnpm-store

!fixtures/**/expected/generated/src/.aruna/
!fixtures/**/expected/generated/
!fixtures/**/expected/generated/**
!fixtures/**/expected/generated/src/.aruna/**
